{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería</title>
    <link rel="stylesheet" href="\ecom\ecom\static\css">
<body>
    <header>
        <h1>Joyería</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="producto.html">Producto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Contenido Principal -->
        <section id="inicio">
            <h2>Bienvenidos a nuestra tienda de joyería</h2>
            <p>Aquí encontrarás las mejores joyas.</p>
        </section>

        <section id="producto">
            <h2>Detalles del Producto</h2>
            <p>Descripción del producto aquí.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Joyería</p>
    </footer>
</body>
</html>
