{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JewelJoy Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <i class="fas fa-bars menu-icon"></i>
            <img src="logo.png" alt="JewelJoy Box" class="logo">
        </div>
        <div class="nav-right">
            <a href="select.html" class="profile-link"><i class="fas fa-user profile-icon"></i></a>
            <i class="fas fa-shopping-cart cart-icon"></i>

        </div>
    </header>
    <main>
        <div class="product">
            <img src="caja-misteriosa.png" alt="Caja Misteriosa" class="product-image">
            <div class="product-info">
                <h2>Caja Misteriosa</h2>
                <p>Caja con 5 productos aleatorios</p>
                <button>Comprar</button>
            </div
        </div>
        <div class="product">
            <img src="anillo.png" alt="Anillo" class="product-image">
            <div class="product-info">
                <h2>Anillo</h2>
                <p>Anillo de Plata</p>
                <button>Comprar</button>
            </div>
        </div>
        <div class="product">
            <img src="aretes.png" alt="Aretes" class="product-image">
            <div class="product-info">
                <h2>Aretes</h2>
                <p>Aretes mágicos</p>
                <button>Comprar</button>
            </div>
        </div>
    </main>
</body>
</html>

<!--  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería</title>
    Bootstrap CSS 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <main>
        Contenido Principal 
        <section id="inicio">
            <h2>Bienvenidos a nuestra tienda de joyería</h2>
            <p>Aquí encontrarás las mejores joyas.</p>
        </section>

        <section id="producto">
            <h2>Detalles del Producto</h2>
            <p>Descripción del producto aquí.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Joyería</p>
    </footer>
     Bootstrap JS and dependencies 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
--> 